/** Header Area
===================================**/
.all-table {
    .table {
        thead {
            tr {
                th {
                    border-color: rgba(92, 97, 242, 0.25);
                    white-space: nowrap;
                }
            }
        }
    }
    tbody {
        tr {
            white-space: nowrap;
            td {
                white-space: nowrap;
                .members-list {
                    li {
                        margin-left: -10px;
                        .border {
                            border-color: var(--whiteColor) !important;
                            box-shadow: var(--boxShadow);
                            transition: var(--transition);
                            &:hover {
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .progress-bar {
                    background-color: var(--mainColor);
                }
            }
        }
    }
    .table>:not(caption)>*>* {
        padding: 20px 30px;
        border-color: #EFEFFE;
    }
    .form-check {
        .form-check-input {
            width: 15px;
            height: 15px;
            border-color: #DAE0EC;
            background-color: #F4F6FA;
            border-radius: 3px;
            position: relative;
            top: -1px;
            margin-right: 14px;
            &:focus {
                box-shadow: none;
            }
            &:checked {
                border-color: var(--mainColor);
                background-color: var(--mainColor);
            }
        }
    }
    &.link-table {
        .table>:not(caption)>*>* {
            padding: 23.3px 30px;
        }
        tbody {
            tr {
                td {
                    .progress {
                        height: 11px;
                        .progress-bar {
                            height: 11px;
                        }
                    }
                }
            }
        }
    }
}
.add-task {
    border: none;
    &:focus {
        border: none;
        box-shadow: none;
    }
}
.c-form-check {
    &.form-check {
        .form-check-input {
            width: 15px;
            height: 15px;
            border-color: #DAE0EC;
            background-color: #F4F6FA;
            border-radius: 3px;
            position: relative;
            top: -1px;
            margin-right: 14px;
            &:focus {
                box-shadow: none;
            }
            &:checked {
                border-color: var(--mainColor);
                background-color: var(--mainColor);
            }
        }
    }
}
